DB_HOST=localhost
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=crear
DB_PORT=5433

POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=crear

ADMIN_USUARIO=admin
ADMIN_CLAVE=genera_un_hash_bcrypt_para_tu_clave
COOKIE_SECRETO=pon_aqui_un_secreto_para_firmar_cookies
JWT_FIRMA=pon_aqui_una_clave_larga_y_secreta_para_firmar_jwt
